<div class="main-sidebar">
  <div class="sidebar">
    <div class="user-panel">

    <% if current_user %>
      <div class="sidebar-menu">
        <p>
          <%= current_user.username %>
        </p>
        <a href="#">
          <i class="fa fa-circle text-success">
          </i> Online
          </a>
      </div>
      <% end %>
    </div>
    <form action="#" class="sidebar-form" method="get">
      <div class="input-group">
        <input class="form-control" name="q" placeholder="Search..." type="text" />
        <span class="input-group-btn">
        <button class="btn btn-flat" id="search-btn" name="search" type="submit">
        <i class="fa fa-search">
        </i></button></span>
      </div>
    </form>
    <ul class="sidebar-menu">
      <li class="active">
        <%= link_to "See All Recipes", recipes_path, class: "btn btn-default btn-flat" %>
      </li>
    <% if current_user %>
      <li class="active">
        <%= link_to "See Your Recipes", user_recipes_path(current_user), class: "btn btn-default btn-flat" %>
      </li>
    <% end %>
      <li>
        <%= link_to "Create New Recipe", new_recipe_path, class: "btn btn-default btn-flat" %>
      </li>

    </ul>
  </div>
</div>
